package: minio
Version: 0.0.1
Architecture: amd64
Section: admin
Essential: no
Priority: optional
Pre-Depends: supervisor
Depends: supervisor  (>= 4.1.0)
Maintainer: opunix <francsic.simon@evalgo.org>
Description: MinIO is a high performance object storage server compatible with Amazon S3 APIs 
